In [11]:
#importing the libriries to use
import numpy as np
import pandas as pd

#from sklearn.model_selection import train_test_split
#from sklearn.ensemble import RandomForestRegressor
#from sklearn import metrics
#from sklearn.tree import export_graphviz


from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import *

#from IPython.display import Image  
#import pydotplus
import matplotlib.pyplot as plt

In [12]:
#TODO: Write your code here
sc = SparkContext()
spark = SparkSession(sc)

In [13]:
import findspark
findspark.init()
findspark.find()

'C:\\Spark\\spark-3.3.0-bin-hadoop3'

In [14]:
import os
import pyspark
print(pyspark.__file__)
path = os.path.abspath(pyspark.__file__)
print(path)

C:\Spark\spark-3.3.0-bin-hadoop3\python\pyspark\__init__.py
C:\Spark\spark-3.3.0-bin-hadoop3\python\pyspark\__init__.py

In [7]:
#import pydeequ
#from pydeequ.analyzers import *
#from pydeequ.profiles import *
#from pydeequ.suggestions import *
#from pydeequ.checks import *
#from pydeequ.verification import *

#from pyspark.sql import SparkSession
#from pyspark.sql import functions as F
#from pyspark.sql.types import DecimalType, DoubleType, IntegerType, DateType, NumericType, StructType, StringType, StructField

In [8]:
""""
spark = (SparkSession
    .builder
    .config("spark.jars.packages", pydeequ.deequ_maven_coord)
    .config("spark.jars.excludes", pydeequ.f2j_maven_coord)
    .getOrCreate())
""""

SyntaxError: EOL while scanning string literal (293502260.py, line 8)

In [15]:
spark

In [16]:
#LOADING CALENDER CSV
df = pd.read_csv("calendar.csv")

In [17]:
df.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [18]:
df_spk = spark.read.csv('calendar.csv', header=True)
df_spk.show(5)

+----------+--------+---------+----+-----+----+---+------------+------------+------------+------------+-------+-------+-------+
|      date|wm_yr_wk|  weekday|wday|month|year|  d|event_name_1|event_type_1|event_name_2|event_type_2|snap_CA|snap_TX|snap_WI|
+----------+--------+---------+----+-----+----+---+------------+------------+------------+------------+-------+-------+-------+
|2011-01-29|   11101| Saturday|   1|    1|2011|d_1|        null|        null|        null|        null|      0|      0|      0|
|2011-01-30|   11101|   Sunday|   2|    1|2011|d_2|        null|        null|        null|        null|      0|      0|      0|
|2011-01-31|   11101|   Monday|   3|    1|2011|d_3|        null|        null|        null|        null|      0|      0|      0|
|2011-02-01|   11101|  Tuesday|   4|    2|2011|d_4|        null|        null|        null|        null|      1|      1|      0|
|2011-02-02|   11101|Wednesday|   5|    2|2011|d_5|        null|        null|        null|        null|      1|      0|      1|
+----------+--------+---------+----+-----+----+---+------------+------------+------------+------------+-------+-------+-------+
only showing top 5 rows

In [19]:
df_spk.printSchema()

root
 |-- date: string (nullable = true)
 |-- wm_yr_wk: string (nullable = true)
 |-- weekday: string (nullable = true)
 |-- wday: string (nullable = true)
 |-- month: string (nullable = true)
 |-- year: string (nullable = true)
 |-- d: string (nullable = true)
 |-- event_name_1: string (nullable = true)
 |-- event_type_1: string (nullable = true)
 |-- event_name_2: string (nullable = true)
 |-- event_type_2: string (nullable = true)
 |-- snap_CA: string (nullable = true)
 |-- snap_TX: string (nullable = true)
 |-- snap_WI: string (nullable = true)

In [24]:
from pyspark.sql.functions import col
from pyspark.sql.types import StringType,BooleanType,DateType
df_spk = df_spk.withColumn("date",col("date").cast(DateType())) \
    .withColumn("wm_yr_wk",col("wm_yr_wk").cast(IntegerType())) \
    .withColumn("weekday",col("weekday").cast(StringType())) \
    .withColumn("wday",col("wday").cast(IntegerType())) \
    .withColumn("month",col("month").cast(IntegerType())) \
    .withColumn("year",col("year").cast(IntegerType())) \
    .withColumn("d",col("d").cast(StringType())) \
    .withColumn("event_name_1",col("event_name_1").cast(StringType())) \
    .withColumn("event_type_1",col("event_type_1").cast(StringType())) \
    .withColumn("event_name_2",col("event_name_2").cast(StringType())) \
    .withColumn("event_type_2",col("event_type_2").cast(StringType())) \
    .withColumn("snap_CA",col("snap_CA").cast(BooleanType())) \
    .withColumn("snap_TX",col("snap_TX").cast(BooleanType())) \
    .withColumn("snap_WI",col("snap_WI").cast(BooleanType()))
df_spk.printSchema()

root
 |-- date: date (nullable = true)
 |-- wm_yr_wk: integer (nullable = true)
 |-- weekday: string (nullable = true)
 |-- wday: integer (nullable = true)
 |-- month: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- d: string (nullable = true)
 |-- event_name_1: string (nullable = true)
 |-- event_type_1: string (nullable = true)
 |-- event_name_2: string (nullable = true)
 |-- event_type_2: string (nullable = true)
 |-- snap_CA: boolean (nullable = true)
 |-- snap_TX: boolean (nullable = true)
 |-- snap_WI: boolean (nullable = true)

In [28]:
df_spk.show(5)

+----------+--------+---------+----+-----+----+---+------------+------------+------------+------------+-------+-------+-------+
|      date|wm_yr_wk|  weekday|wday|month|year|  d|event_name_1|event_type_1|event_name_2|event_type_2|snap_CA|snap_TX|snap_WI|
+----------+--------+---------+----+-----+----+---+------------+------------+------------+------------+-------+-------+-------+
|2011-01-29|   11101| Saturday|   1|    1|2011|d_1|        null|        null|        null|        null|  false|  false|  false|
|2011-01-30|   11101|   Sunday|   2|    1|2011|d_2|        null|        null|        null|        null|  false|  false|  false|
|2011-01-31|   11101|   Monday|   3|    1|2011|d_3|        null|        null|        null|        null|  false|  false|  false|
|2011-02-01|   11101|  Tuesday|   4|    2|2011|d_4|        null|        null|        null|        null|   true|   true|  false|
|2011-02-02|   11101|Wednesday|   5|    2|2011|d_5|        null|        null|        null|        null|   true|  false|   true|
+----------+--------+---------+----+-----+----+---+------------+------------+------------+------------+-------+-------+-------+
only showing top 5 rows

In [29]:
df_spk.columns

['date',
 'wm_yr_wk',
 'weekday',
 'wday',
 'month',
 'year',
 'd',
 'event_name_1',
 'event_type_1',
 'event_name_2',
 'event_type_2',
 'snap_CA',
 'snap_TX',
 'snap_WI']

In [36]:
df_spk_Val = df_spk.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df_spk.columns])
df_spk_Val.show()

+----+--------+-------+----+-----+----+---+------------+------------+------------+------------+-------+-------+-------+
|date|wm_yr_wk|weekday|wday|month|year|  d|event_name_1|event_type_1|event_name_2|event_type_2|snap_CA|snap_TX|snap_WI|
+----+--------+-------+----+-----+----+---+------------+------------+------------+------------+-------+-------+-------+
|   0|       0|      0|   0|    0|   0|  0|        1807|        1807|        1964|        1964|      0|      0|      0|
+----+--------+-------+----+-----+----+---+------------+------------+------------+------------+-------+-------+-------+

In [37]:
df_spk_Null_Val = df_spk.select([F.count(F.when(F.col(c).isNotNull(), c)).alias(c) for c in df_spk.columns])
df_spk_Null_Val.show()

+----+--------+-------+----+-----+----+----+------------+------------+------------+------------+-------+-------+-------+
|date|wm_yr_wk|weekday|wday|month|year|   d|event_name_1|event_type_1|event_name_2|event_type_2|snap_CA|snap_TX|snap_WI|
+----+--------+-------+----+-----+----+----+------------+------------+------------+------------+-------+-------+-------+
|1969|    1969|   1969|1969| 1969|1969|1969|         162|         162|           5|           5|   1969|   1969|   1969|
+----+--------+-------+----+-----+----+----+------------+------------+------------+------------+-------+-------+-------+

In [35]:
from pyspark.serializers import PickleSerializer, AutoBatchedSerializer

In [38]:
rdd = df_spk_Val.rdd._reserialize(AutoBatchedSerializer(PickleSerializer()))
obj = rdd.ctx._jvm.org.apache.spark.mllib.api.python.SerDe.pythonToJava(rdd._jrdd, True)
size = sc._jvm.org.apache.spark.util.SizeEstimator.estimate(obj)
size_MB = size/1000000
partitions = max(int(size_MB/200), 2)
print(f'The dataframe is {size_MB} MB')
print(f'partitions is {partitions}')

The dataframe is 9.07028 MB
partitions is 2

In [39]:
#TODO: Write your code here
df_spk_Val.coalesce(partitions).write.parquet('calendar_parquet')